/*
 Header styling
 red - PUZZLE
 blue - DAMAGE
 green - CALC
 */

#title {
	background-color: none;
	margin: 5px 0 5px 0;	
	height: 70px;
	width: 430px; 
}

#title #red {
	color: red;
	display: inline-block;
	font-size: 50px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
	line-height: 5px;
}

#title #blue {
	color: cyan;
	display: inline-block;
	font-size: 50px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
	line-height: 5px;
}

#title #green {
	color: limegreen;
	display: inline-block;
	font-size: 50px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
	line-height: 5px;
}

/*
 PT Display Screen Btn
 */

#ptdispBtnContainer {
	background-color: none;
	line-height: 50px;
	margin: 1px 0 1px 0;
	height: 50px;
	width: 562px;
}

.button {
	background-color: #E0FFFF;
	border: 1px solid #007AFF;
	box-sizing: border-box;
	color: #007AFF;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	vertical-align: middle;
	text-align: center;
	height: 100%;
	width: 100%;
}

/*
 2P / 3P switch
 Team A B C switch
 */

#ptSwitchContainer {
	background-color: none;
	margin: 1px 0 1px 0;
	height: 50px;
	line-height: 50px;
	width: 562px;
}

#playerSwitch {
	background-color: none;
	display: inline-block;
	margin: 0 1px 0 1px;
	height: 100%;
	width: 279px;
}

#teamSwitch {
	background-color: none;
	display: inline-block;
	margin: 0 1px 0 1px;
	height: 100%;
	width: 279px;
}

.switch_2opt {
	overflow: hidden;
	height: 100%;
	width: 100%;

}

.switch_2opt input{
  position: absolute;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch_2opt label {
	background-color: #E0FFFF;
	border: 1px solid #007AFF;
	box-sizing: border-box;
	color: #007AFF;
	display: inline-block;
	float: left;
	font-size: 14px;
	text-align: center;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	height: 100%;
	width: 50%;
}

.switch_2opt label:hover {
	cursor: pointer;
}

.switch_2opt input:checked + label {
	background-color: #007AFF;
	color: #E0FFFF;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.switch_2opt label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch_2opt label:last-of-type {
	border-radius: 0 4px 4px 0;
}

.switch_3opt {
	overflow: hidden;
	height: 100%;
	width: 100%;

}

.switch_3opt input{
  position: absolute;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch_3opt label {
	background-color: #E0FFFF;
	border: 1px solid #007AFF;
	box-sizing: border-box;
	color: #007AFF;
	display: inline-block;
	float: left;
	font-size: 14px;
	text-align: center;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	height: 100%;
	width: 33.3%; /* for older browsers */
	width: calc(100% / 3);
}

.switch_3opt label:hover {
	cursor: pointer;
}

.switch_3opt input:checked + label {
	background-color: #007AFF;
	color: #E0FFFF;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.switch_3opt label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch_3opt label:last-of-type {
	border-radius: 0 4px 4px 0;
}

/*
 Interactive Table
 */

#teamTable {
	background-color: lightblue;
	margin: 1px 0 1px 0;
	height: 960px;
	width: 562px;
}

/*
 Select Team
 Data Update ??????????????????????????????
 */

#selectTeamBtn {
	background-color: lightblue;
	display: inline-block;
	margin: 1px;
	height: 40px;
	width: 279px;
}

#updateBtn {
	background-color: lightblue;
	display: inline-block;
	margin: 1px;
	height: 40px;
	width: 279px;
}

/*
 Stat Table
 */

#statTable {
	background-color: lightblue;
	margin: -3px 0 1px 0;
	height: 480px;
	width: 562px;
}

/*
 Select Dungeon
 */

#selDungeon {
	background-color: lightblue;
	margin-top: 1px;
	height: 40px;
	width: 562px;
}

/*
 Dungeon Info
 */

#infoDungeon {
	background-color: pink;
	margin-bottom: 3px;
	height: 160px;
	/*width: 108px;*/
	width: 562px;
}

/*
 Board Size Text + Switch
 */

#sizeBoard {
	background-color: lightblue;
	margin: 2px 0 2px 0;
	height: 50px;
	width: 562px; /*2/5*/
}

/*
 Board Menu
 - Clear, Combo, HP, Buff, etc. panel
 */

#boardMenu {
	background-color: lightblue;
	margin: 2px 0 2px 0;
	height: 120px;
	width: 562px;
}

/*
 Board / Orb Selection
 */

#selBoard {
	background: lightblue;
	margin: 1px 0 1px 0;
	height: 340px;
	width: 562px;
}



















































